spring:
  application:
    environment: ${ENVIRONMENT}
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
  security:
    user:
      name: ${ADMIN_API_USERNAME}
      password: ${ADMIN_API_PASSWORD}

app:
  logger:
    destination: ${LOGGER_DESTINATION}

difi:
  move:
    dpo:
      endpointURL: ${DPO_URL}
      serviceCode: ${ALTINN_SRR_SERVICECODE}
      serviceEditionCode: ${ALTINN_SRR_SERVICE_EDITION_CODE}
      resource: ${ALTINN_SRR_RESOURCE}
    dpv:
      endpointURL: ${DPV_URL}
    dpi:
      endpointURL: ${DPI_URL}
    krr:
      mp-endpoint-uri: ${KRR_MP_URI}
      mp-dsf-endpoint-uri: ${KRR_MP_DSP_URI}
      print-url: ${KRR_PRINT_URL}
    auth:
      maskinporten-issuer: ${AUTH_MASKINPORTEN_ISSUER}
      sas-token: ${SAS_TOKEN}

    elma:
      locatorUrl: ${ELMA_LOCATOR_URL}
    fiks:
      oidc:
        keystore:
          path: ${FIKS_OIDC_KEYSTORE_PATH}
          alias: ${FIKS_OIDC_KEYSTORE_ALIAS}
          password: ${FIKS_OIDC_KEYSTORE_PASSWORD}
        url: ${FIKS_OIDC_URL}
        client-id: ${FIKS_OIDC_CLIENT_ID}
        audience: ${FIKS_OIDC_AUDIENCE}
      io:
        endpoint-url: ${FIKS_IO_URL}
        enable: ${FIKS_IO_ENABLE}
        integrasjon-id: ${FIKSIO_ID}
        integrasjon-passord: ${FIKSIO_PASSWORD}
      svarut:
        certificate: ${SVARUT_CERTIFICATE}
        serviceRecordUrl: ${SVARUT_SERVICERECORDURL}
        base-url: ${SVARUT_BASEURL}
        integrasjon-id: ${SVARUT_ID}
        integrasjon-passord: ${SVARUT_PASSWORD}
    virksert:
      endpointURL: http://efm-virksert-service:8080/virksomhetssertifikat/
    freg:
      endpoint-u-r-l: http://efm-freg-gateway-service:8080/
      enabled: ${CALL_FOLKEREGISTERET}
      api-key: ${FREG_API_KEY}
    brreg:
      enabled: ${CALL_ENHETSREGISTERET}
    sign:
      keystore:
        path: ${KEYSTORE_PATH}
        alias: ${KEYSTORE_ALIAS}
        password: ${KEYSTORE_PASSWORD}
        type: JKS

logging:
  level:
    org.springframework.ws.client.MessageTracing: ${LOG_LEVEL}
    org.springframework.ws.server.MessageTracing: ${LOG_LEVEL}
    no.difi.meldingsutveksling.serviceregistry.controller: ${LOG_LEVEL}


