spring:
  application:
    name: serviceregistry
  datasource:
    url:
    username:
    password:
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: validate
server:
  port: 8080
  servlet:
    context-path: /adressetjeneste
management:
  server:
    port: 8090
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  endpoints:
    web:
      base-path: /
      exposure:
        include: "info,env,prometheus,health"
  metrics:
    tags:
      application: ${spring.application.name}
difi:
  move:
    elma:
      locatorUrl: http://test-smp.elma-smp.no
      defaultProcessIdentifier: urn:no:difi:profile:arkivmelding:administrasjon:ver1.0
      lookupIcd: 0192
    brreg:
      endpointURL: https://data.brreg.no/
      enabled: false
    dpv:
      endpointURL: https://tt02.altinn.no/ServiceEngineExternal/CorrespondenceAgencyExternal.svc
    krr:
      mp-endpoint-uri: https://test.kontaktregisteret.no/rest/v1/personer
      mp-dsf-endpoint-uri: https://test.kontaktregisteret.no/rest/v1/mf/personer
      print-url: https://test.kontaktregisteret.no/rest/v2/printSertifikat
    healthcare:
      enabled: true
      nhn-adapter-endpoint-url: http://localhost:8082/nhn-adapter/arlookup/{identifier}
      fastlege-process: urn:no:difi:profile:digitalpost:fastlege:ver1.0
      nhn-process: urn:no:difi:profile:digitalpost:helse:ver1.0
    virksert:
      icd: 0192
      processes:
        dpo: cenbii-procid-ubl::urn:no:difi:profile:dpo:ver1.0
        dpe: cenbii-procid-ubl::urn:no:difi:profile:dpe:ver1.0
      mode: TEST
      endpoint-u-r-l: https://eformidling.dev/virksomhetssertifikat/
    sign:
      keystore:
        path: classpath:kontaktinfo-client-test.jks
        alias: 991825827
        password: changeit
        type: JKS
    dpo:
      endpointURL: https://tt02.altinn.no
      serviceCode: 4192
      serviceEditionCode: 270815
    dpi:
      endpointURL: https://qaoffentlig.meldingsformidler.digipost.no/api/ebms
      infoProcess: urn:no:difi:profile:digitalpost:info:ver1.0
      vedtakProcess: urn:no:difi:profile:digitalpost:vedtak:ver1.0
    fiks:
      io:
        enable: false
        endpoint-url: https://api.fiks.test.ks.no
        orgform-filter: KOMM
      svarut:
        user: <user>
        password: <pass>
        forsendelsesserviceUrl: https://test.svarut.ks.no/tjenester/forsendelseservice/ForsendelsesServiceV9
        serviceRecordUrl: https://test.svarut.ks.no/tjenester/forsendelseservice/ForsendelsesServiceV6
        certificate: classpath:svarut_test_public.pem
    auth:
      maskinporten-issuer: https://test.maskinporten.no/
    feature:
      enableDpfDpv: true
    freg:
      endpoint-u-r-l: http://efm-freg-gateway-service:8080/
      enabled: false
      api-key: 1234567890
logging:
  level:
    org.springframework.web: INFO
