spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/sr?serverTimezone=Europe/Oslo
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

difi:
  move:
    auth:
      sas-token: changeit
    sign:
      keystore:
        path: changeit
        alias: changeit
        password: changeit
    virksert:
      endpointURL: https://eformidling.dev/virksomhetssertifikat/
    dpv:
      endpointURL: https://tt02.altinn.no/ServiceEngineExternal/CorrespondenceAgencyExternal.svc
    dpi:
      endpointURL: https://qaoffentlig.meldingsformidler.digipost.no/api/ebms
    krr:
      mp-endpoint-uri: https://test.kontaktregisteret.no/rest/v1/personer
      mp-dsf-endpoint-uri: https://test.kontaktregisteret.no/rest/v1/mf/personer
    fiks:
      oidc:
        keystore:
          path: changeit
          alias: changeit
          password: changeit
        client-id: changeit
        url: https://test.maskinporten.no/token
        audience: https://test.maskinporten.no/
      svarut:
        integrasjon-id: changeit
        integrasjon-passord: changeit
    freg:
      enabled: false
    brreg:
      enabled: false

app:
  logger:
    destination: test-stream-meldingsutveksling.dificloud.net:443

logging:
  level:
    org.springframework.ws.client.MessageTracing: TRACE
    org.springframework.ws.server.MessageTracing: TRACE