name: Build and publish image

on:
  workflow_dispatch:

  push:
    branches:
      - main

  workflow_call:

  repository_dispatch:
    types: [ build-publish-image ]

jobs:
  call-workflow-image-build-publish:
    uses: felleslosninger/github-workflows/.github/workflows/ci-build-publish-image.yml@main
    with:
      module-name: serviceregistry-server/
      image-name: efm-service-registry
      java-version: 25
      slack-channel-id: C05NLQCFR41
      update-versions: "false"
    secrets: inherit

  call-update-image:
    needs: [call-workflow-image-build-publish]
    uses: felleslosninger/github-workflows/.github/workflows/ci-call-update-image.yml@main
    with:
      application-name: efm-service-registry
      deployment-environment: dev
      image-digest: ${{ needs.call-workflow-image-build-publish.outputs.image-digest }}
      image-name: efm-service-registry
      image-version: ${{ needs.call-workflow-image-build-publish.outputs.image-version }}
      kubernetes-repo: eformidling-cd
      product-name: eformidling
    secrets: inherit
