name: Deploy to dev only

on:

  push:
    branches:
      - '**'  #Filtering on branches is done in the jobs

jobs:
  call-workflow-image-build-publish:
    if: contains(github.event.head_commit.message, '[deploy-to-dev]')
    uses: felleslosninger/github-workflows/.github/workflows/ci-build-publish-image.yml@MOVE-4422-remove-dockerfile
    with:
      lifecycle: 'development'
      module-name: serviceregistry-server/
      image-name: efm-service-registry
      java-version: 25
      slack-channel-id: C05NLQCFR41
      update-versions: "false"
    secrets: inherit

  call-update-image:
    needs: [call-workflow-image-build-publish]
    uses: felleslosninger/github-workflows/.github/workflows/ci-call-update-image.yml@main
    with:
      application-name: efm-service-registry
      deployment-environment: dev
      image-digest: ${{ needs.call-workflow-image-build-publish.outputs.image-digest }}
      image-name: efm-service-registry
      image-version: ${{ needs.call-workflow-image-build-publish.outputs.image-version }}
      kubernetes-repo: eformidling-cd
      product-name: eformidling
    secrets: inherit
